.articleContainer {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.topContainer {
    padding-bottom: 12px;
    border-bottom: 2px solid #E9BE59;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 70px
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.bookmarkIcon {
    margin-left: 3px;
    cursor: pointer;
}

.bookmarkIcon:hover {
    opacity: 0.6;
}

.author {
    font-size: 14px;
    text-align: right;
    color: grey
}

.description {
    font-size: 1.1em;
    text-align: justify;

}

.articleImg {
    padding-top: 15px;
    width: 400px;
    height: 209px;
}

.modaleNotification {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    color: #ff8262;
}