.articleContainer {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;    
}

.topContainer {
    padding-bottom: 15px;
    border-bottom: 2px solid purple;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 70px
}

.title {
  font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.bookmarkIcon {
    margin-left: 3px;
    cursor: pointer;
}

.bookmarkIcon:hover {
    opacity: 0.6;
}

.author {
    text-align: right;
    color: grey
}

.description {
    font-size: 1.1em;
    text-align: justify;

}
.description:link {
    color: black;
    text-decoration: none;
}

.description:visited {
    /* color: #E9BE59; */
    color: black
}

.description:hover {
    opacity: 0.6;
    text-decoration: none;
}
.articleImg {
    padding-top: 15px;
    width: 400px;
    height: 209px;
}
.modaleNotification{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    color:rgb(251, 27, 27);
}
.crossIcon {
    padding-left: 5px;
}