.main {
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  
}
.title {
  font-size: 1.8em;
  font-weight:400;
}
.bookmarkedArticles {
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 25px;
  
}