.topArticleContainer {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
    margin: 10px;
}

.topContainer {
    position: absolute;
    text-align: center;
    background-color: #fff;
    border: 0.5px rgb(233, 190, 89) solid;
    width: 550px;
    padding: 20px;
    margin-top: 100px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}
.title:link {
    color: black;
    text-decoration: none;
}

.title:visited {
    /* color: #E9BE59; */
    color: black
}

.title:hover {
    opacity: 0.6;
    text-decoration: none;
}

.bookmarkIcon {
    margin-left: 3px;
}

.bookmarkIcon:hover {
    opacity: 0.6;
}

.author {
    text-align: right;
    color: grey
}

.description {
    font-size: 1em;
    text-align: justify;

}
.description:link {
    color: black;
    text-decoration: none;
}
.description:visited {
    /* color: #E9BE59; */
    color: black
}

.description:hover {
    opacity: 0.6;
    text-decoration: none;
}

.articleImg {
    width: 700px;
    height: 400px
}